.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    width: 50%;
    display: block;
    text-align: center;
    background: var(--inactive-color);
    padding: 22px 70px;
    cursor: pointer;
    border-radius: 20px 20px 0 0;

    .icon {
      transform: translateY(5px);
    }
  }

  .active {
    background: var(--basic-white-color);
    cursor: default;

    .icon path {
      fill: var(--active-color);
    }
  }
}
