.todo,
.doneTodo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background: var(--basic-white-color);
  font-size: 1.2em;
  cursor: pointer;

  .todoInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: relative;
    width: 27px;
    height: 27px;
    border: 3px solid var(--todo-button-color);
    border-radius: 10px;

    .icon {
      position: absolute;
      top: -5.5px;
      left: -2px;
      display: none;
    }
  }

  .todoInput:focus ~ .checkmark {
    box-shadow: 1px 2px 14px -7px #000;
  }

  .todoInput:checked ~ .checkmark .icon {
    display: block;
  }

  .todoInput:checked ~ .text {
    color: var(--done-todo-color);
    &::after {
      transform: scaleX(1);
    }
  }

  .text {
    position: relative;
    transition: 0.4s;
    width: max-content;
    max-width: 210px;
    word-break: break-all;

    &::after {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      content: "";
      background: var(--done-todo-color);
      transform-origin: 0% 0%;
      transform: scaleX(0);
      transition: 0.4s;
    }
  }
}

.doneTodo {
  grid-template-columns: 0.9fr 4fr 0.5fr;
  cursor: default;

  .todoInput:focus ~ .checkmark {
    box-shadow: none;
  }

  .text {
    max-width: 200px;
  }
  .remove {
    background: transparent;
    border: 0 none;
    cursor: pointer;
  }
}
