.main {
  background-color: transparent;
  padding: 0;
  max-width: 335px;

  .todos,
  .doneTodos {
    background-color: var(--basic-white-color);
    padding: 15px 0;
    overflow-y: scroll;
    max-height: 50vh;
    min-height: 225px;
  }
}

.nothing {
  background: var(--basic-white-color);
  text-align: center;
  padding: 40px 60px;
  font-size: 1.5em;
  font-weight: bold;
  max-width: 335px;
  min-height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearAll {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  position: relative;
  background: var(--basic-white-color);
  border-radius: 0 0 10px 10px;

  button {
    border: 0 none;
    color: var(--basic-white-color);
    background: var(--primary-color);
    padding: 8px 28px;
    border: 2px solidvar(--primary-color);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--primary-color);
      background: var(--basic-white-color);
      transition: 0.3s;
    }
  }
}
