.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    width: 50%;
    display: block;
    text-align: center;
    background: #f0eee9;
    color: gray;
    padding: 20px 70px;
    font-size: 1.6em;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
  }

  .active {
    color: #9e73c8;
    background: #fff;
    cursor: default;
  }
}
